.container {
    width: 700px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    padding: 20px;
  }
  
  .picture {
    max-width: 200px;
    max-height: 350px;
  }
  
  .text {
    flex-grow: 1;
    padding: 15px;
  }